# Python
venv/
__pycache__/
*.pyc
.env

# Node.js
node_modules/
job-tracker-frontend/node_modules/
job-tracker-frontend/.next/
job-tracker-frontend/.DS_Store

# Database
alembic/versions/
*.sqlite3

# Logs
*.log
